$color-white: #fff;
$color-black: #000;
$color-black-alt: #000000de;
$color-gray: #00000099;
$color-gray-alt: #00000061;
$color-gray-calendar: #3c3c3c;
$color-green: #23b04a;
$color-green-alt: #c2e7c8;
$color-blue: #2e9bc2;
$color-red: #ee3f44;
$color-background: #f5f5f5;

$color-border: #0000001f;
$color-border-alt: #21212114;

$border: 1px solid $color-border;
$border-bottom: 1px solid $color-border-alt;
$border-radius: 4px;
$box-shadow: 0px 1px 1px 0px #0000000d;

$container-width: 1232px;
$container-padding-x: 24px;
